body {
    margin: 0;
    transition: color 0.4s ease-in-out, backgtound-color 0.4s ease-in-out;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.pr-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    width: 80%;
    margin: 2rem auto;
}

.pr-container .pr-item {
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    align-items: center;
}

.pr-container .pr-item img {
    height: 12rem;
    width: 18rem;
    object-fit: contain;
}



.pr-container .pr-item  {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    margin-bottom: 0rem;
    margin: 0rem 2.2rem;
    text-align: center;
    transition: color 300ms;
}

.pr-container .pr-item svg {
    height: 1.5rem;
    width: 1.5rem;
}

.pr-container .pr-item:hover {
    color: #63d4cf;
   /* text-decoration: underline; */
}


.pr-container .pr-item p {
    margin: 0.5rem 2rem 2rem 2rem;
    text-align: center;
    font-size: 1.2rem;
}


@media (max-width: 767px) {
    .pr-container {
        gap: 2rem;
        width: 100%;
        margin: 0.8rem auto;
    }

    .pr-container .pr-item img {
        height: 12rem;
        width: 20rem;
    }

    .pr-container .pr-item p {
        margin: 0.5rem 2rem 2rem 2rem;
        font-size: 1.1rem;
    }
}

